<nav class="nav">
  <div class="nav-back">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#product">Product</a></li>
      <li><a href="#">Global Presence</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact us</a></li>
    </ul>
    <div class="logo">
      <img width="100%" src="../assets/images/logo.png" alt="" />
    </div>
  </div>
</nav>
<main>
  <section class="home">
    <img
      width="100%"
      height="100%"
      src="../assets/images/young-scientist-looking-through-microscope-laboratory-young-scientist-doing-some-research-kopie.jpg"
      alt=""
    />
  </section>
  <section id="product" class="products scroll-margin">
    <div class="heading">
      <p>Products</p>
    </div>
    <div>
      <ol class="product-ol">
        <li class="products-item" *ngFor="let product of products">
          {{ product }}
        </li>
      </ol>
    </div>
  </section>

  <section id="about" class="about scroll-margin">
    <div class="heading">
      <p>About</p>
    </div>
    <div class="about-body">
      <p>
        We, Apoteca Pharma Private Limited is an established pharmaceutical
        trade company whose main activity is to export pharmaceutical products.
        We aim to build a strong bridge between manufacturer and the formulator
        to minimize the gap.
      </p>
      <p>
        With experience and insight of the Industry we are able to fulfill the
        industry’s needs. We as a company are specialized in providing
        pharmaceutical APIs and Excipients. We provide a wide range of products
        throughout the world. Many Indian manufacturers are closely associated
        with us for API and Excipients supplies.
      </p>
    </div>
  </section>
  <section id="contact" class="contact scroll-margin">
    <div class="heading">
      <p>Contact us</p>
    </div>
    <div class="contact-body">
      <p style="padding-bottom: 20px" class="contact-body-head">
        Apoteca Phrama Private Limited
      </p>

      <p>Office :</p>
      <p>81,Rajmahal Colony, Indore,</p>
      <p style="padding-bottom: 20px">(M.P) INDIA - 452007</p>

      <p>Warehouse:</p>
      <p>37, Saptashrangi Nagar, Nihalpurmundi</p>
      <p>Indore (M.P) INDIA, 452012</p>
      <p>CIN: U51909MP2022PTC060416</p>
      <p style="padding-bottom: 20px">GST No.: 23AAWCA8302L1ZC</p>

      <p>Email:</p>
      <p>admin@apotecapharma.com</p>
    </div>
  </section>
</main>
